.displayReviewsBox {
  width: 90vw;
  margin: 5px auto 5px auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #aebe94;
  background-color: white;
  display: grid;
  grid-template-columns: 30vw 35vw auto;
  grid-template-rows: 10vw 15vw auto auto;
  grid-template-areas:
    "owner date date"
    "title title title"
    "image image image"
    "category designer votes";
}

.individualReview {
  width: 90vw;
  height: auto;
  margin: 5px auto 5px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.owner {
  grid-area: owner;
}

.date {
  grid-area: date;
}

.title {
  grid-area: title;
}

.category {
  grid-area: category;
}

.designer {
  grid-area: designer;
}

.image {
  grid-area: image;
  max-block-size: 30vw;
}

.review {
  grid-area: review;
  inline-size: 90vw;
  overflow-wrap: break-word;
}

.votes {
  grid-area: votes;
}

.comments {
  color: #803f95;
  display: inline;
}
.newUsercomments {
  background-color: lightblue;
}
.commentsBox {
  width: 90vw;
  margin: 5px auto 5px auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #aebe94;
}

#commentAuthor {
  font-weight: bold;
}
